<h1>Ayuda</h1>
<div class="container">
	<div class="row"> <span class="label label-warning">Importante:</span> <p><b>Debido a que esta es una versión aún en desarrollo puede que la documentación cambie constantemente</b></p>
	</div>
	<div class="row">
		<!-- Calculos tab -->
		<div class="span6">
			    <h3>Calculos</h3>
			    <div class="tabbable"> <!-- Only required for left/right tabs -->
			    <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">Nuevo</a></li>
			    <li><a href="#tab2" data-toggle="tab">Editar</a></li>
			    <li><a href="#tab3" data-toggle="tab">Eliminar</a></li>
			    </ul>
			    <div class="tab-content">
			    <div class="tab-pane active" id="tab1">
			    	<p>En la página inicial, dirígete a la esquina superior derecha, ahí encontraras un botón; da clic y se desplegara un pequeño menú.
					Elige la opción de “nuevo cálculo”, llena el formulario con los datos necesarios y a continuación selecciona la opción “realizar el cálculo”  y listo; recuerda que por el momento solo realizaremos cálculos para perdidas de presión menor a un bar.</p>
			    </div>
			    <div class="tab-pane" id="tab2">
			    <p>Una vez realizado correctamente el cálculo deseado, es posible editarlo, para ello solo tienes que pulsar el botón editar y de esta forma podrás modificar alguno de los datos, una vez hechos los cambios, continua como sigue, pulsando el botón “realizar calculo”.</p>
			    </div>
			    <div class="tab-pane" id="tab3">
			    <p>En caso de que desees eliminar un cálculo una vez efectuado, el proceso es bastante sencillo; solo tienes que seleccionar el botón “eliminar” y de esta forma podrás tener acceso a todos los cálculos que han sido realizados, pulsa nuevamente entre las opciones “eliminar” si así lo deseas, confirma  listo! habrás borrado el cálculo hecho previamente.</p>
			    </div>
			    </div>
			    </div>
			<!-- Calculos tab -->
		</div>
		<div class="span6 pagination-centered"><img src="http://mattelder.org/programmer-cat-finding-mistakes.jpeg" alt="cat2" width="400px"></div>
	</div>

	<div class="row">
		<!-- Preguntas tab -->
		<div class="span12">
			    <h3>Preguntas frecuentes</h3>
			    <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
			    <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab4" data-toggle="tab">¿Calculos perdida mayor a 1 Bar?</a></li>
			    <li><a href="#tab5" data-toggle="tab">¿Costo por la realización de cálculos?</a></li>
			    <li><a href="#tab6" data-toggle="tab">¿Cuándo sale la versión final?</a></li>
			    </ul>
			    <div class="tab-content">
			    <div class="tab-pane active" id="tab4">
			    	<h4>Por el momento solo puedes realizar cálculos para peridas menores o iguales a 1 bar, pero estamos trabajando duro para ofrecer más opciónes :)</h4>
			    </div>
			    <div class="tab-pane" id="tab5">
			    <h4>En las versiones Alpha y Beta sí, sin embargo cuando se lance la versión el costo será $1 MXN que podrás abonar a tu cuenta mediante Paypal o en un Oxxo</h4>
			    </div>
			    <div class="tab-pane" id="tab6">
			    <h4> Por el momento no estamos seguros, pero esperamos que sea pronto, nuestros Ingenieros están trabajando en ello.</h4>
			    </div>
			    </div>
			    </div>
			<!-- Preguntas tab -->
		</div>
</div>	