<h1>Ayuda</h1>
<div class="container">
	<div class="row"> <span class="label label-warning">Importante:</span> <p><b>La ayuda y documentación aún no esta disponible, secolocara en esta sección en cuanto ellos la tengan lista.</b></p>
	</div>
	<div class="row">
		<div class="span6 pagination-centered"><img src="http://www.burradas.net/ficheros/burradas_images/2009/4/10/175034_008_pics.jpg" alt="cat1" width="400px"></div>
		<div class="span6 pagination-centered"><img src="http://mattelder.org/programmer-cat-finding-mistakes.jpeg" alt="cat2" width="400px"></div>
	</div>
</div>	