<!--Habilidades-->
<div class="container marketing">
  <div class="featurette">
    <h2 class="featurette-heading">¿Qué nos hace especiales?</h2>
  <div class="row">
    <div class="span4">
      <img src="/assets/ninja-mk.jpg" alt="140x140" class="rounded" style="width: 140px; height: 140px;">
      <h3>Tecnicas Ninja</h3>
      <p>Desarrollado por programadores especializado en tecnicas de: zen coding, ninja coding, samurai coding y otras tecnicas orientales mezcladas con coding.</p>
    </div>
    <div class="span4">
      <img src="/assets/octocat-mk.png" alt="140x140" class="img-circle" style="width: 140px; height: 140px;">
      <h3>Código en Github</h3>
      <p>Puedes encontrar nuestro código fuente en Github. Así podras revisarlo y ver que no traficamos con tu información. Somos partidarios de la privacidad</p>
    </div>
    <div class="span4">
      <img src="/assets/cat-mk_opt.jpg" alt="140x140" class="img-circle" style="width: 140px; height: 140px;">
      <h3>Un equipo adorable</h3>
      <p>Tenemos a los más tiernos y adorables gatitos programadores (excepto Grumpy Cat). Ellos se encargan de depurar todo nuestro código.</p>
    </div>
  </div>
  </div>
<!-- /Hablilidades -->

<!-- Equipo -->
<hr class="featurette-divider"></hr>
  
    <div class="featurette">
    <h2 class="featurette-heading">¿Quiénes forman el equipo?</h2>
  <div class="row">
    <div class="span3">
      <img src="/assets/nadia-tm.jpg" alt="140x140" class="img-polaroid" style="width: 140px; height: 140px;">
      <h3>Nadia Hernandez <br> <span class="muted">Zen master</span></h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/quinta.real.186">Facebook</a></p>
    </div>
    <div class="span3">
      <img src="/assets/saul-tm.jpg" alt="140x140" class="img-polaroid" style="width: 140px; height: 140px;">
      <h3>Saúl Duran <br> <span class="muted">Ninja coder</span></h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/JonySDS">Facebook</a></p>
    </div>
    <div class="span3">
      <img src="/assets/nestor-tm.jpg" alt="140x140" class="img-polaroid" style="width: 140px; height: 140px;">
      <h3>Nestor Guerrero <br> <span class="muted">Samurai developer</span></h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/nestor.guerrerogomez">Facebook</a></p>
    </div>
    <div class="span3">
      <img src="/assets/ricardo-tm.jpg" alt="140x140" class="img-polaroid" style="width: 140px; height: 140px;">
      <h3>Ricardo Ortega <br> <span class="muted">Ninja coder</span></h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/ricardo.raog">Facebook</a></p>
      <p><i class="icon-comment"></i> <a href="http://manraog.wordpress.com">Blog personal</a></p>
    </div>
  </div>
 </div>
 <!-- /Equipo -->

<!-- Gatitos -->
<hr class="featurette-divider"></hr>
  
    <div class="featurette">
    <h2 class="featurette-heading">¿Y los gatitos :3?</h2>
  <div class="row">
    <div class="span3">
      <img src="assets/grumpy-tm.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Grumpy Cat</h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/TheOfficialGrumpyCat">Facebook</a></p>
    </div>
    <div class="span3">
      <img src="/assets/cempa-tm.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Cempazuchitl</h3>
    </div>
    <div class="span3">
      <img src="/assets/huitla-bg.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Huitlacoche</h3>
    </div>
    <div class="span3">
      <img src="/assets/lil-tm.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Lil Bub</h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/iamlilbub">Facebook</a></p>
    </div>
  </div>
 </div>
</div>
<!-- Gatitos -->