<div class="container marketing">
  <div class="featurette">
    <h2 class="featurette-heading">¿Qué nos hace especiales?</h2>
  <div class="row">
    <div class="span4">
      <img src="https://farm6.static.flickr.com/5173/5530553658_cf0a5dd64d_m.jpg" alt="140x140" class="img-circle" style="width: 140px; height: 140px;">
      <h3>Tecnicas Ninja</h3>
      <p>Desarrollado por programadores especializado en tecnicas de: zen coding, ninja coding, samurai coding y otras tecnicas orientales mezcladas con coding.</p>
    </div>
    <div class="span4">
      <img src="http://cdn.ahrengot.com/wp-content/uploads/github-logo-transparent.png" alt="140x140" class="img-circle" style="width: 140px; height: 140px;">
      <h3>Código en Github</h3>
      <p>Puedes encontrar nuestro código fuente en Github. Así podras revisarlo y ver que no traficamos con tu información. Somos partidarios de la privacidad</p>
    </div>
    <div class="span4">
      <img src="http://www-tc.pbs.org/mediashift/wp-content/uploads/sites/8/import/i-dad5c732bee0847cead45acebee1af25-cat_computer.jpg" alt="140x140" class="img-circle" style="width: 140px; height: 140px;">
      <h3>Un equipo adorable</h3>
      <p>Tenemos a los más tiernos y adorables gatitos programadores (excepto Grumpy Cat). Ellos se encargan de depurar todo nuestro código.</p>
    </div>
  </div>
  </div>

<hr class="featurette-divider"></hr>
  
    <div class="featurette">
    <h2 class="featurette-heading">¿Quiénes forman el equipo?</h2>
  <div class="row">
    <div class="span3">
      <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/c38.5.470.470/s160x160/421997_189173487899237_623307875_n.jpg" alt="140x140" class="img-polaroid" style="width: 140px; height: 140px;">
      <h3>Nadia Pecas <br> <span class="muted">Zen Master</span></h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/quinta.real.186">Facebook</a></p>
    </div>
    <div class="span3">
      <img src="https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-ash3/p110x80/1381806_641052765935362_566934698_a.jpg" alt="140x140" class="img-polaroid" style="width: 140px; height: 140px;">
      <h3>Saúl Duran <br> <span class="muted">Ninja coder</span></h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/JonySDS">Facebook</a></p>
    </div>
    <div class="span3">
      <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/c40.0.240.240/s160x160/26590_1148205445065_1734489_n.jpg?lvh=1" alt="140x140" class="img-polaroid" style="width: 140px; height: 140px;">
      <h3>Nestor Guerrero <br> <span class="muted">Samurai coder</span></h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/nestor.guerrerogomez">Facebook</a></p>
    </div>
    <div class="span3">
      <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c29.0.600.600/s160x160/934865_10201232380321038_1624629716_n.jpg" alt="140x140" class="img-polaroid" style="width: 140px; height: 140px;">
      <h3>Ricardo Ortega <br> <span class="muted">Ninja coder</span></h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/ricardo.raog">Facebook</a></p>
      <p><i class="icon-comment"></i> <a href="http://manraog.wordpress.com">Blog personal</a></p>
    </div>
  </div>
 </div>


<hr class="featurette-divider"></hr>
  
    <div class="featurette">
    <h2 class="featurette-heading">¿Y los gatitos :3?</h2>
  <div class="row">
    <div class="span3">
      <img src="http://www.deargrumpycat.com/wp-content/uploads/2013/02/Grumpy-Cat1.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Grumpy Cat</h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/TheOfficialGrumpyCat">Facebook</a></p>
    </div>
    <div class="span3">
      <img src="http://ozini.com/wp-content/uploads/2012/01/image-7608.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Cempazuchitl</h3>
    </div>
    <div class="span3">
      <img src="http://treasurytoday.com/~/media/articles/2013/01/2013-01-24-ti-cat-falling-asleep-on-a-laptop-300x200-ss-57890992.ashx?h=200&mw=300&w=300" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Huitlacoche</h3>
    </div>
    <div class="span3">
      <img src="http://static.neatorama.com/images/2013-08/lil-bub.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Lil Bub</h3>
      <p><i class="icon-thumbs-up"></i> <a href="http://www.facebook.com/iamlilbub">Facebook</a></p>
    </div>
  </div>
 </div>

</div>