<div class="hero-unit">
  <div class="center">
    <h1>CAVAAC</h1>
    <h2>Calculo rapido de tubos para cilindros o actuadores neumaticos.</h2>
    <p>
      <a href="registros_cerrados.html" class="btn btn-primary btn-large">Registrarse</a>
    </p>
  </div>
</div>


<div class="container marketing">

  <div class="featurette">
    <img src="http://safe-img01.olx.com.mx/ui/8/87/18/1279216165_105407918_3-CILINDROS-HIDRAULICOS-Y-NEUMATICOS-Otras-ventas-1279216165.jpg" class="featurette-image pull-right">
    <br>
    <br>
    <br>
    <h2 class="featurette-heading">Calcula diametros de tubo <br> <span class="muted">¡Sin revisa tablas!</span></h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, dolore, possimus, blanditiis temporibus animi ipsa assumenda dolorem voluptate recusandae consequatur impedit nulla delectus nesciunt laboriosam atque magni excepturi neque veritatis.</p>
    <br>
    <br>
    <br>
    </div>
  <hr class="featurette-divider"></hr>
  <div class="featurette">
    <img src="http://www.hidraulicabasilio.es/cmsAdmin/uploads/MANGUERA_NEUMATICA.png" class="featurette-image pull-left"></img>
    <br>
    <br>
    <br>
    <h2 class="featurette-heading">¿Por qué? <br> <span class="muted">¡Es más sencillo!</span></h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, quisquam, recusandae voluptatem illo impedit dolorum magnam iste vitae vero magni molestias minus rerum aliquid natus perspiciatis ab commodi mollitia ratione.</p>
    <br>
    <br>
    <br>
  </div>

<hr class="featurette-divider"></hr>
  <div class="featurette">
    <h2 class="featurette-heading">¿Por qué confiar en nosotros? <br> <span class="muted">¡Somos geniales!</span></h2>
  </div>
  <div class="row">
    <div class="span4">
      <img src="https://farm6.static.flickr.com/5173/5530553658_cf0a5dd64d_m.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Tecnicas Ninja</h3>
      <p>Desarrollado por programadores especializado en tecnicas de: zen coding, ninja coding, samurai coding y otras tecnicas orientales mezcladas con coding.</p>
      <%= link_to 'Ver más', equipo_path, :class => 'btn btn-info' %>
    </div>
    <div class="span4">
      <img src="http://cdn.ahrengot.com/wp-content/uploads/github-logo-transparent.png" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Código en Github</h3>
      <p>Puedes encontrar nuestro código fuente en Github. Así podras revisarlo y ver que no traficamos con tu información. Somos partidarios de la privacidad</p>
      <%= link_to 'Ver más', 'https://github.com/ricardo-raog/cavaac', :class => 'btn btn-info' %>
    </div>
    <div class="span4">
      <img src="http://www-tc.pbs.org/mediashift/wp-content/uploads/sites/8/import/i-dad5c732bee0847cead45acebee1af25-cat_computer.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
      <h3>Un equipo adorable</h3>
      <p>Tenemos a los más tiernos y adorables gatitos programadores (excepto Grumpy Cat). Ellos se encargan de depurar todo nuestro código.</p>
      <%= link_to 'Ver más', equipo_path, :class => 'btn btn-info' %>
    </div>
</div>