<div class="container">
      <div class="row">
        <!-- Estado -->
          <h4>Estado de desarrollo del sitio:</h4> <div class="pull-left"><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></div>
          <div class="pull-right">&nbsp;Beta</div>
              <div class="progress progress-warning">
              <div class="bar" style="width: 85%;"></div>
              </div>
        <!-- /Estado -->
      </div>
    </div>

<!-- Registro -->
<div class="hero-unit">
  <div class="center">
    <h1>CAVAAC</h1>
    <h2>Calculo rapido de tubos para cilindros o actuadores neumaticos.</h2>
    <p>
      <a href="registros_cerrados.html" class="btn btn-primary btn-large">Registrarse</a>
    </p>
  </div>
</div>
<!-- /Registro -->

<!-- Marketing -->
<div class="container marketing">

    <div class="featurette">
      <img src="/assets/cilindro-mk.jpg" class="featurette-image pull-right">
      <br>
      <br>
      <br>
      <h2 class="featurette-heading">Calcula diametros de tubo <br> <span class="muted">¡Sin revisa tablas!</span></h2>
      <p class="lead"> Este aplicación esta diseñada para la empresa moderna que no se permite el perder ni un segundo, le facilita la creación equipos neumáticos haciendo de su conocimiento que tipo de tubo necesita con tan solo proporcionar algunas especificaciones que requiere la elaboración de su sistema neumático.</p>
      <br>
      <br>
    </div>
    <hr class="featurette-divider"></hr>
    <div class="featurette">
      <br>
      <img src="/assets/tubo-mk.png" class="featurette-image pull-left"></img>
      <br>
      <br>
      <h2 class="featurette-heading">¿Por qué? <br> <span class="muted">¡Es más sencillo!</span></h2>
      <p class="lead">Esta aplicación reduce el tiempo invertido para los cálculos necesarios en la creación de sistemas neumáticos, debido a su practico y sencillo modo de empleo, ademas que, gracias a su velocidad aumenta la productividad y producción de sistemas neumaticos.</p>
      <br>
      <br>
      <br>
    </div>
<!-- /Marketing -->

  <hr class="featurette-divider"></hr>

<!-- Equipo -->
    <div class="featurette">
      <h2 class="featurette-heading">¿Por qué confiar en nosotros? <br> <span class="muted">¡Somos geniales!</span></h2>
      </div>
      <div class="row">
        <div class="span4">
          <img src="/assets/ninja-mk.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
          <h3>Tecnicas Ninja</h3>
          <p>Desarrollado por programadores especializado en tecnicas de: zen coding, ninja coding, samurai coding y otras tecnicas orientales mezcladas con coding.</p>
          <%= link_to 'Ver más', equipo_path, :class => 'btn btn-info' %>
        </div>
        <div class="span4">
          <img src="/assets/octocat-mk.png" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
          <h3>Código en Github</h3>
          <p>Puedes encontrar nuestro código fuente en Github. Así podras revisarlo y ver que no traficamos con tu información. Somos partidarios de la privacidad</p>
          <%= link_to 'Ver más', 'https://github.com/ricardo-raog/cavaac', :class => 'btn btn-info' %>
        </div>
        <div class="span4">
          <img src="/assets/cat-mk_opt.jpg" alt="140x140" class="img-rounded" style="width: 140px; height: 140px;">
          <h3>Un equipo adorable</h3>
          <p>Tenemos a los más tiernos y adorables gatitos programadores (excepto Grumpy Cat). Ellos se encargan de depurar todo nuestro código.</p>
          <%= link_to 'Ver más', equipo_path, :class => 'btn btn-info' %>
        </div>
      </div>
    </div>
<!-- /Equipo -->
</div>
