<h1>Nuevo calculo</h1>
<div class="container">
	<p><div class="row"><span class="label label-warning">Importante:</span>  Por el momento solo podemos realizar calculos para perdidas de presión menores a 1 Bar</p>
	</div>
	<br>
	<div class="row"><%= render 'form' %></div>
</div>


